body {
    background-color: aquamarine;
}


 button {
border; 2px solid rgb(2, 12, 68);
border-radius: 5px;
background-color: darkgray;
color: rgb(0, 0, 0);
font size: 15px;
font-weight bold;
padding: 10px;
width: 200px;
height: 150px;
alling: center;
display: block;
cursor: pointer;

 }
 
 button:hover {
    background-color:pink ;
 }
 h3{
    color: rgb(0, 0, 0);
 }